@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-2;
}
.bg-icon{
    color: white;
    .links i:hover {
        color: rgb(52, 255, 215);
        transform: translateY(-5px);
      }
      
      .links i:visited {
        color: rgb(255, 250, 250);
        text-decoration: underline;
      }
      
      a:hover {
        color: #D64958;
      }
      
      .links a {
        color: rgb(199, 207, 218);
      }
      
}
.bg-skills{
  color: rgb(11, 25, 46);
  .links i:hover {
      color: rgb(52, 255, 215);
      transform: translateY(-5px);
    }
    
    .links i:visited {
      color: rgba(179, 37, 148, 0.801);
      text-decoration: underline;
    }
    
    a:hover {
      color: rgba(179, 37, 148, 0.801);
    }
    
    .links a {
      color: #b32594cc;
    }
    
}

.bg-primary{
  background-color: #530332;
}
.bg-name{
    color: white;
}
.bg-second{
  background-color: #800834;
  color:white;
  box-shadow: 0 0 15px #D64958;
  position: fixed;
  width: 100%;
}
.header-wrapper {
  position: relative;
}
.bg-third{
  background-color: #800834;
  color:white;
  box-shadow: 0 0 15px #D64958;
}
.bg-forth{
  background-color: #c51656;
  color:white;
  box-shadow: 0 0 15px #D64958;
}
.mobile-nav{
    @apply fixed top-10 left-0 w-full h-1/3;
    background-color: #800834;
    color: white;
    
}
.mobile-nav li{
    @apply w-full h-full text-center border-b-2;
}
.bg-text{
  text-align: justify;
}
.bg-con{
  background-color: #D64958;;
  color: white;
  box-shadow: 0 0 15px #be3f4c;
}
.btn{
  @apply bg-con px-5 py-2 font-bold hover:border-2 border-[#a33742]
}
html{
scroll-behavior: smooth;
}
